<% if message.user == current_user %>
  <div class="d-flex flex-row justify-content-end mb-4">
    <div class="d-flex flex-row justify-content-end">
      <div class="msg right col-10" style="padding: 6px 12px;">
        <div id="message-<%= message.id %>" class="text-white">
          <p class="m-0"><%= message.content %></p>
          <div class="d-flex flex-row-reverse">
            <i style="font-size: 10px"><%= message.created_at.strftime("%a %b %e at %l:%M %p") %></i>
          </div>
        </div>
      </div>
      <%= cl_image_tag message.user.photos.first.key, width: 1000, crop: :fill, class: "avatar ms-2 align-self-end col-1", style:"height: 36px; width: 36px;", alt: "avatar" %>
    </div>
  </div>
<% else %>
  <div class="d-flex flex-row justify-content-start mb-4">
    <div class="d-flex flex-row justify-content-start">
      <%= cl_image_tag message.user.photos.first.key, width: 1000, crop: :fill, class: "avatar me-2 align-self-start col-1", style:"height: 36px; width: 36px;", alt: "avatar" %>
      <div class="msg left col-10" style="padding: 6px 12px; background-color: #303030">
        <div id="message-<%= message.id %>" class="text-white">
          <p class="m-0"><%= message.content %></p>
          <div class="d-flex flex-row-reverse">
            <i style="font-size: 10px"><%= message.created_at.strftime("%a %b %e at %l:%M %p") %></i>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
