<nav class="navbar navbar-light bg-light justify-content-between">
  <div class="nav-item active">
    <%= link_to "...", class: "nav-link" %>
    <%= link_to "...", class: "nav-link" %>
    <%= link_to "...", class: "nav-link" %>
    <%= link_to "...", class: "nav-link" %>
    <%= link_to "...", class: "nav-link" %>
  </div>
</nav>
