<%# Return Arrow top of page %>
<div class="d-flex flex-row justify-content-between align-items-center" style="width:88%;position: fixed; top: 20px; left: 16px;">
  <%= link_to challenge_path(@challenge), class: "pe-3" do %>
    <i class="fa-solid fa-chevron-left flashy"
      data-action="click->toggle-element#menuactive"
      data-toggle-element-target="menuactive"
      style="font-size:calc(1.275rem + 0.3vw)"></i>
  <% end %>
  <%= image_tag("logos/logo-em-flashy.png", :style => "width:120px; height:auto") %>
  <div></div>
</div>

<%# IF Statement for reward show %>
<% if @challenge.status == "pending" %>
  <%= render 'rewards/challengepending', challenge: @challenge %>
  <%= render 'rewards/qrcodesvg', challenge: @challenge %>
<% elsif @challenge.status == "won" %>
  <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
  <lottie-player src="https://assets7.lottiefiles.com/packages/lf20_GmaOBawqc8.json" background="transparent"  speed="0.7"  style="width: 100%; height: 60vh; position:absolute" loop autoplay></lottie-player>
  <div class="d-flex align-content justify-content-center align-items w-100">
    <div class="div-reward-win">
      <lottie-player src="https://assets5.lottiefiles.com/packages/lf20_E3m1qQ.json" background="transparent"  speed="0.6"  style="width: 30%;" autoplay></lottie-player>
      <h1 class="text-light fw-bold"> <%= @reward.title %></h1>
      <h2 class="text-light"> <%= @reward.reward %></h2>
      <p class="text-light text-center mt-3">You can now claim your reward with your match - Congrats !</p>
      <div class="d-flex match">
        <%= cl_image_tag @challenge.relationship.sender.user.photos.first.key, width: 200, crop: :fill, class: "avatar-reward", style: 'z-index: 2' %>
        <%= cl_image_tag @challenge.relationship.receiver.user.photos.first.key, width: 200, crop: :fill, class: "avatar-reward", style: 'z-index: 2' %>
      </div>
    </div>
  </div>

  <%# <style>
    .div-reward-win {
      width: 70%;
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: center;
      align-items: center;
      padding-top: 30%;
      background: #00000008;
      z-index: 2;
      position: relative;
      border-radius: 8px;
    }
  </style> %>

<% end %>
