<div class="swiper" data-controller="swipe coordinates modal">
  <div class="swiper__content">
    <div class="swiper__card-cont"
         data-swipe-target="content"
         data-participation-id="<%= @current_participation.id %>">
      <% participations.each do |participation| %>
          <div class="swiper__card"
              data-swipe-target="card"
              data-id="<%= participation.id %>">
            <span class="profile-link hidden" data-action="click->modal#open" data-modal-url-param="<%= participation_path(participation)%>"></span>
            <div class="swiper__card__content">

            <div class="swiper__card__content_top">
              <%# La partie du haut de la carte %>
            </div>

            <% if participation.user.photos.attached? %>
              <%= cl_image_tag participation.user.photos.first.key, class: 'swiper__card__img', alt:"Picture" %>
            <% else %>
              <img src="https://images.unsplash.com/photo-1454908027598-28c44b1716c1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80" class="swiper__card__img" alt="...">
            <% end %>

            <div class="swiper__card__content_bottom">
              <p class="swiper__card__name">
                <strong><%= participation.user.first_name %></strong>, <span class="profile-age"><%= participation.user.age %></span>
              </p>
              <p class="swiper__card__distance">
                <i class="fa-solid fa-magnifying-glass me-2"></i><%= participation.hint %>
              </p>
            </div>
            </div>
            <div class="swiper__card__choice m--reject"></div>
            <div class="swiper__card__choice m--like"></div>
            <div class="swiper__card__drag"></div>
          </div>
      <% end %>
    </div>
  </div>
  <div class="modal fade" data-swipe-target="modal" id="successModal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="">
    <div class="align-items-center d-flex justify-content-center modal-dialog modal-fullscreen-sm-down w-100" style="backdrop-filter: blur(11px);">
      <div class="m-4 success-modal-content w-100">
        <div class="success-modal-body" data-swipe-target="modalBody">
          <%# Ici c'est la modale pour notifier que le match a eu lieu, voir controller stimulus %>
        </div>
      </div>
    </div>
  </div>
</div>
