<div class="swiper" data-controller="swipe coordinates">
  <div class="swiper__content">
    <div class="swiper__card-cont"
         data-swipe-target="content"
         data-participation-id="<%= @current_participation.id %>">
      <% participations.each do |participation| %>

        <%= link_to "#", class: 'profile-link hidden' do %>
          <div class="swiper__card"
              data-swipe-target="card"
              data-id="<%= participation.id %>">

            <div class="swiper__card__content">

            <div class="swiper__card__content_top">
              <%# La partie du haut de la carte %>
            </div>

            <% if participation.user.photos.attached? %>
              <%= cl_image_tag participation.user.photos.first.key, width: 1000, crop: :fill, class: 'swiper__card__img' %>
            <% end

            # <%=
            #   image_tag(participation.user.photos.first.key"https://images.unsplash.com/photo-1565104479617-751892dc290e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NjB8fGZlc3RpdmFsfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60",
            #             alt: "rss feed",
            #             class: 'swiper__card__img')
            # %>

            <div class="swiper__card__content_bottom">
              <p class="swiper__card__name">
                <strong><%= participation.user.first_name %></strong>, <span class="profile-age"><%= participation.user.last_name %></span>
              </p>
              <p class="swiper__card__distance">
                <i class="fa-solid fa-magnifying-glass me-2"></i><%= participation.hint %>
              </p>
            </div>

            </div>
            <div class="swiper__card__choice m--reject"></div>
            <div class="swiper__card__choice m--like"></div>
            <div class="swiper__card__drag"></div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="modal fade" data-swipe-target="modal" id="successModal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="">
    <div class="align-items-center d-flex justify-content-center modal-dialog modal-fullscreen-sm-down w-100" style="backdrop-filter: blur(11px);">
      <div class="m-4 success-modal-content w-100">
        <div class="success-modal-body" data-swipe-target="modalBody">
          <%# Ici c'est la modale pour notifier que le match a eu lieu, voir controller stimulus %>
        </div>
      </div>
    </div>
  </div>
</div>
