<div class="container-event">
  <div class="mb-3">
    <% if event.photos.attached? %>
      <%= cl_image_tag event.photos.first.key, class:"event-img" %>
    <% else %>
      <%= image_tag "https://cdn.sortiraparis.com/images/61/1665/838944-solidays-2023-a-paris-ouverture-de-la-billetterie-debut-fevrier.jpg", class:"event-img", style:"height: 40vh" %>
    <% end %>
  </div>
  <div class="overlay-image"></div>
</div>


<div class="p-3">
  <h1 class="text-white font-weight-bold"><%= event.title %></h1>
  <p class="paragraph-event"> <%= event.description %> </p>
  <h2 class="text-white">Rewards:</h2>
  <%= render "rewards", rewards: event.rewards %>
  <h2 class="text-white">Participants:</h2>
  <%= render "participations", participations: event.participations %>
</div>
