
    <div class="container-event">
      <div class="mb-3">
        <% if event.photos.attached? %>
          <%= cl_image_tag event.photos.first.key, class:"event-img" %>
        <% else %>
          <%= image_tag "https://cdn.sortiraparis.com/images/61/1665/838944-solidays-2023-a-paris-ouverture-de-la-billetterie-debut-fevrier.jpg", class:"event-img", style:"height: 40vh" %>
        <% end %>

      </div>
      <div class="overlay-image"></div>
    </div>

    <div class="px-3">
      <h1 class="text-white font-weight-bold"><%= event.title %></h1>
      <div class="d-flex flex-row mt-2">
        <i class="fa-solid fa-calendar-days me-2" style="color: #8b9aa0"></i>
        <p class="paragraph-event me-1"><%= event.start_date.strftime("%D") %> -</p>
        <p class="paragraph-event"><%= event.end_date.strftime("%D") %></p>
      </div>
      <div class="d-flex flex-row mt-1">
        <i class="fa-solid fa-location-dot me-2" style="color: #8b9aa0"></i>
        <p class="paragraph-event"> <%= event.address %> </p>
      </div>
      <div class="mt-4">
        <h2 class="text-white mt-4">Participants:</h2>
        <%= render "events/participations", participations: event.participations %>
      </div>
      <div class="mt-4">
        <h2 class="text-white mt-2">Rewards:</h2>
        <%= render "events/rewards", rewards: event.rewards %>
      </div>
      <h2 class="text-white mt-4">Infos:</h2>
      <p class="paragraph-event mt-2"> <%= event.description %> </p>
    </div>
    <%#= render "pages/participation_submit", event: event, participation: @participation %>

  </div>
