    <div class="container-event">
      <div class="mb-3">
        <% if event.photos.attached? %>
          <%= cl_image_tag event.photos.first.key, width: 1000, crop: :fill, class:"event-img" %>
        <% else %>
          <%= image_tag "https://cdn.sortiraparis.com/images/61/1665/838944-solidays-2023-a-paris-ouverture-de-la-billetterie-debut-fevrier.jpg", class:"event-img", style:"height: 40vh" %>
        <% end %>

      </div>
      <div class="overlay-image"></div>
    </div>

    <div class="">
      <h1 class="text-white font-weight-bold px-3"><%= event.title %></h1>
      <div class="d-flex flex-row mt-2 px-3">
        <i class="fa-solid fa-calendar-days me-2 medium-gray"></i>
        <p class="paragraph-event me-1"><%= event.start_date.strftime("%D") %> -</p>
        <p class="paragraph-event"><%= event.end_date.strftime("%D") %></p>
      </div>
      <div class="d-flex flex-row mt-1 px-3">
        <i class="fa-solid fa-location-dot me-2 medium-gray"></i>
        <p class="paragraph-event"> <%= event.address %> </p>
      </div>
      <div class="mt-4 px-3">
        <%= render "events/participations", participations: event.participations %>
      </div>
      <div class="mt-4">
        <h2 class="text-white mt-2 px-3">Rewards</h2>
        <%= render "events/rewards", rewards: event.rewards %>
      </div>
      <h2 class="text-white mt-4 px-3">Infos:</h2>
      <p class="paragraph-event mt-2 px-3"> <%= event.description %> </p>
    </div>
  </div>
