<div class="event-modal" data-toggle-element-target="modal">
  <div class="wrapper-relative">
    <div class="container-event">
      <div class="mb-3">
        <% if event.photos.attached? %>
          <%= cl_image_tag event.photos.first.key, width: 1000, crop: :fill , class:"event-img" %>
        <% else %>
          <%= image_tag "https://cdn.sortiraparis.com/images/61/1665/838944-solidays-2023-a-paris-ouverture-de-la-billetterie-debut-fevrier.jpg", class:"event-img-modal", style:"height: 40vh; width: 100%" %>
        <% end %>

      </div>
      <i class="fa-solid fa-chevron-left back" data-action="click->toggle-element#toggle"></i>
      <div class="overlay-image"></div>
    </div>

    <div>
      <h1 class="text-white font-weight-bold px-3"><%= event.title %></h1>
      <div class="d-flex flex-row align-items-center mt-3 px-3">
        <i class="fa-solid fa-calendar-days me-2 white" style=""></i>
        <p class="paragraph-event me-1"><%= event.start_date.strftime("%D") %> -</p>
        <p class="paragraph-event"><%= event.end_date.strftime("%D") %></p>
      </div>
      <div class="d-flex flex-row align-items-center mt-2 px-3">
        <i class="fa-solid fa-location-dot me-2 white" style="width:10px;"></i>
        <p class="paragraph-event"> <%= event.address %> </p>
      </div>
      <div class="mt-4 px-3">
        <%= render "events/participations", participations: event.participations %>
      </div>
      <div class="mt-4">
        <h3 class="text-white mt-4 mb-0 px-3">Rewards</h3>
        <%= render "events/rewards", rewards: event.rewards %>
      </div>
      <h3 class="text-white mt-4 px-3">Infos</h3>
      <p class="paragraph-event mt-2 px-3"> <%= event.description %> </p>
    </div>
    <% if user_signed_in? %>
      <div class="div-cta">
        <button class="cta btn btn-primary profile-link" data-action="click->modal#open" data-modal-url-param="<%= new_event_participation_path(event)%>">Join</button>
      </div>
    <% end %>
    <%# <div class="form-bottom">
      <%= render "pages/participation_submit", event: event, participation: @participation %>
    <%# </div> %>
  </div>
</div>
