<div class="container border-0">
  <div class="d-flex flex-row align-content-center justify-content-center align-items-center text-white">
      <%= simple_form_for [event, participation],html: { class: "w-100"} do |f| %>
        <%= f.input :event_id, as: :hidden, input_html: { value: event.id } %>
        <%= f.input :user_id, as: :hidden, input_html: { value: current_user.id } %>
        <%= f.input :hint, label: :"Give a hint to find you easily", placeholder: "Your hint"%>
        <%= f.submit "Confirm", class: 'btn text-white p-2 w-100 mt-1 join-button' %>
      <% end %>
  </div>
</div>
