<h3 class="section-title"><%= category %></h3>
<div class="scrollmenu mt-1">
  <% events.each do |event| %>
    <div class="me-2 pb-3 scrollsubmenu" data-controller="toggle-element">
        <div class="scroll-event-card mb-1", style="background-image: url(<%= event.photos.first.url %>); background-position: center; background-size: cover;",
             data-action="click->toggle-element#toggle"
        >
        </div>
        <h5 class="scroll-event-title"><%= event.title.capitalize %></h5>
        <span class="scroll-event-dates"><%= event.start_date.strftime("%D") %> - <%= event.end_date.strftime("%D") %></span>
        <%= render "event_modal", event: event %>
    </div>
  <% end %>
</div>
