<h3 class="section-title px-3 mt-4">
  <span class="highlight-container"><span class="highlight"><%= category %></span></span>
</h3>
<div class="scrollmenu mt-1 px-3">
  <% events.each do |event| %>
    <div class="me-2 pb-3 scrollsubmenu" data-controller="toggle-element">
        <%= cl_image_tag event.photos.first.key, width: 1000, crop: :fill, class: 'scroll-event-card', data: { action: "click->toggle-element#toggle" } %>
        <h5 class="scroll-event-title"><%= event.title.capitalize %></h5>
        <span class="scroll-event-dates"><%= event.start_date.strftime("%D") %> - <%= event.end_date.strftime("%D") %></span>
        <%#= render "event_modal", event: event %>
       <%#= render "pages/event_modal",  event: event %>
    </div>
  <% end %>
</div>
