<div class="container chatroom"
  data-controller="challenge-subscription"
  data-challenge-subscription-challenge-id-value="<%= @challenge.id %>">
  <h4>#<%= @challenge.id %></h4>

  <div class="messages" data-challenge-subscription-target="messages">
    <% @challenge.messages.each do |message| %>
      <%= render "messages/message", message: message %>
    <% end %>
  </div>

  <%= simple_form_for [@challenge, @message],
    html: {class: "d-flex"} do |f|
  %>
  <%= f.input :content,
    label: false,
    placeholder: "Message ##{@challenge.id}",
    wrapper_html: {class: "flex-grow-1"}
  %>
  <%= f.submit "Send", class: "btn btn-primary mb-3" %>
  <% end %>
</div>
