<div data-controller="showmap">

  <% if @challenge.relationship.receiver.user == current_user %>
    <% target = @challenge.relationship.sender %>
  <% else %>
    <% target = @challenge.relationship.receiver %>
  <% end %>

  <%= render "shared/menu_messages", target: target, challenge: @challenge %>

  <div class="px-3 challenge text-white" style="margin-top:190px"
    data-controller="challenge-subscription"
    data-challenge-subscription-challenge-id-value="<%= @challenge.id %>">

    <div class="messages d-flex flex-column"
         data-challenge-subscription-target="messages">
      <% @challenge.messages.each do |message| %>
          <%= render "messages/message", message: message %>
      <% end %>
    </div>

    <%= render "challenges/map", markers: @markers, challenge: @challenge %>

    <%= simple_form_for [@challenge, @message],
      html: { data: { action: "turbo:submit-end->challenge-subscription#resetForm" }, class: "message-bar" } do |f|
    %>

      <% if @challenge.won? %>
        <%= f.input :content,
          label: false,
          placeholder: "Write your message",
          wrapper_html: {class: "flex-grow-1"},
          :as => :string
        %>
      <% else %>
        <%= f.input :content,
                label: false,
                placeholder: "Write your message",
                wrapper_html: {class: "flex-grow-1"},
                disabled: true,
                :as => :string
              %>
      <% end %>
      <%= button_tag type: 'submit', class: "mb-3 message-sender" do %>
        <i class="fa-regular fa-paper-plane"></i>
    <% end %>
    <% end %>
    <% console %>
  </div>
</div>
